
.modalSheet {
    position: 'absolute';
    width: 50%;
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    padding-bottom: 10px;
}

.modalInside {
    width: 85%;
    margin: auto;
}

.modalButton {
    width: max-content;
}

.skillGrid {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    text-align: center;
}

.skillGrid div:nth-child(odd) {
    background-color: rgba(171, 214, 85, 0.582);
}
