
.modalSheet {
    position: 'absolute';
    width: 50%;
    background-color: white;
    margin-top: 12%;
    margin-left: 25%;
}

.modalInside {
    width: 85%;
    margin: auto;
}

.modalButton {
    width: max-content;
}
