.formGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-right: 10px;
}

.cardArea {
    grid-column: 2/ span 3;
}

.protoField {
    width: 100%;
}

.center {
    margin: auto;
    width: 90%;
}

.center textArea{
    resize: none;
    width: 100%;
    height: 50px;
}

