.profileGrid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding-right: 10px;
    margin: auto;
}

.altGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-right: 10px;
}

.input {
    width:30%;
    margin-left: 4%;
}

.inner {
    width: 80%;
    margin: auto;
}

.inner table {
    width: 100%;
}

tbody tr:nth-child(odd){
    background-color: rgba(171, 214, 85, 0.582);
}

.inner td {
    width: 50%;
    padding: 10px;
}
