
.EditSheet {
    position: 'absolute';
    width: max-content;
    background-color: white;
    margin: auto;
    margin-top: 5%;
}

.EditSheet textArea {
    width: 90%;
    margin-left: 4%;
    resize: none;
}
