
.EditSheet {
    position: 'absolute';
    width: 702px;
    background-color: white;
    margin-top: 12%;
    /* margin-left: 12.5%; */
}

.EditSheet textArea {
    width: 90%;
    margin-left: 4%;
    resize: none;
}
