.headerImg {
    display: block;
    margin: auto;
  }
  
  .nameOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
  }
  
  .container {
    position: relative;
    width: 702px;
    /* height: 103.99px; */
    height: 130px;
    margin: auto;
    
  }

  .imageFrame {
    width: 702px;
    height: 103.99px;
    margin: auto;
    overflow: hidden;
  }
  
  .headText {
    position: absolute;
    left: 100px;
  }

  .headText h1{
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  .headText p {
      margin-top: 0px;
  }
  
  .overContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #holder {
    margin-left: 6%;
    margin-top: 6%;
  }