.headerImg {
    display: block;
    margin: auto;
  }
  
  .nameOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  .headText {
    font-size: 300%;
    position: absolute;
    left: 20%;
  }