.headerImg {
    display: block;
    margin: auto;
  }
  
  .nameOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s ease;
  }
  
  .container {
    position: relative;
    width: 702px;
    margin: auto;
  }
  
  .headText {
    position: absolute;
    left: 5%;
  }

  .headText h1{
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  .headText p {
      margin-top: 0px;
  }