.resumeGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding-right: 10px;
}

.resumeField {
    width: 100%;
    grid-column: 3/ span 3;
}

.bio {
    text-align: center;
    width: 25%;
    position: absolute;
    top: 174px;
    left: 2%;
}
