.bar {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

.header {
    background-color: black;
}
.title {
    position: absolute;
    margin-left: 0px;
}
.title-action {
    position: absolute;
    display: flex;
    right: 10px;
}