
.footer {
    width: 80%;
    margin: auto;
    left: 0;
    bottom: 0;
  padding-top: 20px;
  text-align: center;
}

.fcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;

}
.footNav {
  margin: auto;
}

.footNav li{
  margin: 15px;
}
